.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 254px;
  margin: 20px;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

.cardImageContainer {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin: 40px;
  .cardImage {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
  }
}

.cardButton {
  margin-bottom: 40px;
  min-width: 200px;
  min-height: 45px;
  padding: 10px;
  background-color: #fafafa;
  border-radius: 10px;
  border-style: solid;
  border-color: #1b1c1e;
  border-width: 1px;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #1b1c1e;
}

.cardChildren {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 5px 25px 5px;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  div {
    font-weight: 600;
    padding: 15px 0px;
  }

  span {
    line-height: 20px;
    padding: 0 10px 15px 10px;
  }
}

.cardPopup-content {
  margin: auto;
  // background: rgb(255, 255, 255);
  width: 85%;
  min-height: 100px;
  max-height: 400px;
  padding: 10px;
  overflow: auto;
}
.cardPopup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].cardPopup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.cardPopup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].cardPopup-overlay {
  background: transparent;
}

.modal > .close {
  cursor: pointer;
  position: fixed;
  display: block;
  padding: 5px 7px;
  line-height: 24px;
  right: 10px;
  top: 12px;
  font-size: 34px;
  background: #fafafa;
  border-radius: 18px;
  border: 1px solid #cfcece;
  color: #1b1c1e;
}
