.loader {
  position: relative;
  display: flex;
  gap: 0.3em;
  justify-content: center;
  z-index: 100;
}

.loader::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2em;
  filter: blur(45px);
  background-color: #fafafa;
  background-image: radial-gradient(
      at 52% 57%,
      rgba(247, 202, 201, 1) transparent 50%
    ),
    radial-gradient(at 37% 57%, rgba(179, 206, 229, 1), transparent 50%);
}

.loader__circle {
  --size__loader: 2em;
  width: var(--size__loader);
  height: var(--size__loader);
  border-radius: 50%;
  animation: loader__circle__jumping 2s infinite;
  background-color: #faf7bf;
}

.loader__circle:nth-child(2n) {
  animation-delay: 300ms;
}

.loader__circle:nth-child(2) {
  background-color: #8cbfe9;
}

.loader__circle:nth-child(3n) {
  animation-delay: 600ms;
}

.loader__circle:nth-child(3) {
  background-color: #1b1c1e;
}

.loader__circle:nth-child(4) {
  background-color: #d26955;
}

.loader__circle:nth-child(5) {
  background-color: #6ab36e;
}

@keyframes loader__circle__jumping {
  0%,
  100% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-15px) scale(0.5);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(5px) scale(0.9);
  }
}

.loadingImg {
  max-width: 100%;
  height: auto;
}
