.inviteCodeForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 500px;
  background-color: #f7f3f0;

  .inviteFormInput {
    padding: 5px 10px;
  }

  .inviteFormInput-label {
    font-family: "kepler-std-display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }

  button {
    margin-top: 10px;
    width: 100%;
    font-family: "nimbus-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }

  h3 {
    font-family: "la-bohemienne", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 67px;
    color: #1b1c1e;
    margin: 0;
  }

  h4 {
    font-family: "kepler-std-display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }

  h6 {
    font-family: "kepler-std-display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-top: 0px;
    letter-spacing: 2px;
    text-align: center;
    width: 60%;
  }
}

.inviteInputContainer {
  width: 200px;
}

.inviteTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
